<strong>Olá {{student}},</strong>
<p>A Academia Gympoint, respondeu a sua pergunta <strong>{{question}}</strong></p>
<p>Veja a resposta abaixo:</p>
<p>
  {{answer}} <br />
  <small>Qualquer outra dúvida, é só perguntar! ;)</small>
</p>
