<strong>Olá {{student.name}},</strong>
<p>A Academia Gympoint, respondeu a sua pergunta: <strong>{{question}}</strong></p>
<p>Segue a resposta abaixo:</p>
<p>
  {{answer}} <br />
  <br />
  <small>Caso tenha mais alguma dúvida, é só perguntar! ;)</small>
</p>
